<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LTHealthSupport.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LifeTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LifeTrackerWatches (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>LifeTrackerWatches.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SharedCoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A20597F71E84618900452D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A285B1B41E9421CA0092BA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EB3B301E7876EA00601DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EB3B4D1E7D6A6A00601DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
